.buttons-container {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 60px;

    margin-left: calc(15vw - 10px);
    background-color: #212229;
    flex-direction: column;


    display: flex;
    alignment: left;
}

.buttons-container > * {
    padding-left: 10px;
    margin-bottom: 2px;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 60px;


    margin-left: 27vw;
    width: 50vw;
    height: calc(100vh - 110px);
    background-color: #2F303B;
    border-radius: 8px;
    flex-direction: column;
    display: flex;
    padding: 20px;

    /*overflow-y: auto;*/
}
