@font-face {
    font-family: "Medium";
    src: local("AirbnbCerealLight"),
    url("../../../src/assets/fonts/ClearSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Regular";
    src: local("AirbnbCerealLight"),
    url("../../../src/assets/fonts/ClearSans-Regular.ttf") format("truetype");
}

.open-chat-container {
    display: flex;
    flex-direction: column;
}

.open-chat-container > * {
    margin-bottom: 5px;
}

.chat-info-container {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;

    align-items: center;
    justify-content: space-between;

    background-color: #2F303B;

    margin-bottom: -5px;
    margin-top: -10px;
}

.text-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-name {
    font-family: "Medium", serif;
    font-size: 16px;
    color: white;
}

.status {
    font-family: "Medium", serif;
    font-size: 14px;
    color: lightgray;
}

.message-list-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100vh - 250px);
}

.message-list-container > * {
    margin-bottom: 10px;
}

.message-list-container::-webkit-scrollbar {
    width: 5px;
}

.message-list-container::-webkit-scrollbar-track {
    background: transparent;
}

.message-list-container::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 5px;
}

.message-list-container::-webkit-scrollbar-thumb:hover {
    background: darkgray;
}

.message-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 10px;
    margin-bottom: -6px;
}

.message-input {
    border-radius: 10px;
    width: calc(100% - 70px);
    height: 30px;
    padding: 5px 5px 5px 15px;
    background-color: #212229;
    outline: none;
    color: white;
    border: none;
    font-size: 14px;
    font-family: "Regular", serif;
}