@font-face {
    font-family: "Medium";
    src: local("AirbnbCerealLight"),
    url("../../../src/assets/fonts/ClearSans-Medium.ttf") format("truetype");
}

.user-photo {
    border-radius: 50%;
    background-color: #AAAAAA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-photo-text {
    font-family: "Medium", serif;
    color: white;
}

.user-photo-img {
    width: 100%; /* Задает ширину изображения равной ширине контейнера */
    height: 100%; /* Задает высоту изображения равной высоте контейнера */
    object-fit: cover; /* Обрезает изображение, чтобы оно полностью покрывало контейнер */
    border-radius: 50%; /* Добавляет скругление углов изображению, чтобы оно соответствовало контейнеру */
}