@font-face {
    font-family: "Medium";
    src: local("AirbnbCerealLight"),
    url("../../../src/assets/fonts/ClearSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Regular";
    src: local("AirbnbCerealLight"),
    url("../../../src/assets/fonts/ClearSans-Regular.ttf") format("truetype");
}

