@font-face {
    font-family: "Medium";
    src: local("AirbnbCerealLight"),
    url("../../../src/assets/fonts/ClearSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Regular";
    src: local("AirbnbCerealLight"),
    url("../../../src/assets/fonts/ClearSans-Regular.ttf") format("truetype");
}

.container-all-chat-info {
    display: flex;
    flex-direction: column;
}

.chat-information-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*align-items: center;*/
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 100%;
}

.chat-information-container > * {
    /*margin: 10px 20px 10px 15px;*/
    /*margin-right: 20px;*/

    margin-bottom: 20px;
}

.chat-photo {
    /*width: 240px;*/
    margin: -50px 10px 10px 20px;
}

.data-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    min-width: 55%;
}

.chat-name-info {
    font-family: "Medium", serif;
    font-size: 24px;
    color: white;
    width: 300px;
}

.chat-status {
    font-family: "Regular", serif;
    font-size: 16px;
    color: lightgray;

    width: 100px;
}

.chat-head {
    background: rgb(63,94,251);
    background: linear-gradient(43deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    height: 150px;
    border-radius: 10px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
}

.chat-info-text {
    font-family: "Medium", serif;
    font-size: 24px;
    color: white;

    margin-left: 15px;
    margin-bottom: 10px;
}

.edit-chat-button {
    display: flex;
    flex-direction: column;
    /*margin-right: 20px;*/
    /*margin-top: 90px;*/
}

.edit-chat-button > * {
    margin-bottom: 10px;
}

.back {
    position: absolute;
    margin-top: -258px;
    margin-left: -5px;
}

.user-modified-cell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-modified-cell > * {
    margin-right: 10px;
}

.del-button {
    width: 50px;
}

.user-cell-modified {
    width: 100%;
}

.back-button-chat-info {
    position: absolute;
    margin-top: -160px;
    margin-left: -13px;
}